<div>
    <mat-toolbar color="primary" class="navbar">
      <span class="navbar-brand"> Blissfulbonds </span>
      <span class="spacer"></span>
      <button mat-button routerLink="/signup" rounterLinkActive="active">Register</button>
      <button mat-button routerLink="/login" rounterLinkActive="active">Login</button>

      
   <!--   
      <ng-container *ngIf="!isLoggedIn; else showLogout">
        <button mat-button routerLink="/signup" rounterLinkActive="active">Register</button>
        <button mat-button routerLink="/login" rounterLinkActive="active">Login</button>
      </ng-container>
      <ng-template #showLogout>
        <button mat-button [routerLink]="['/dashboard']">Dashboard</button>
        <button mat-button [routerLink]="['/profile']">Profile</button>
        <button mat-button [routerLink]="['/dashboard']">About us </button>
        <button mat-button [routerLink]="['/dashboard']">Contactus</button>
        <button mat-raised-button color="warn" (click)="logoutUser()">Logout</button>
      </ng-template>
    -->
    </mat-toolbar>
  </div>


<router-outlet/>