<div class="app">
  <!-- Login Screen -->
  <div class="login-container active">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-box">
      <h1 class="logo">Blissfullbonds</h1>
      <p class="tagline">Login </p>
      <div class="input-group">
        <mat-form-field class="col">
          <mat-label>Username</mat-label>
          <input type="text" matInput placeholder="username" [formControl]="username">
          @if (username.hasError('required')) {
          <mat-error>username is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <div class="input-group">
        <mat-form-field class="col">
          <mat-label>password</mat-label>
          <input type="password" matInput placeholder="password" [formControl]="password">
          @if (password.hasError('required')) {
          <mat-error>password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <button id="login-btn" type="submit" class="ml-3" style="width: 100px" mat-raised-button color="accent"
      [disabled]="loginForm.invalid"> Login</button>

    </div>
  </form>
  </div>